### Importing the necessary Libraries

In [1]:
import pandas as pd
import numpy as np

### Loading the data:

In [2]:
Data=pd.read_csv('Dataset .csv')
Data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

Exploring the data:

In [3]:
Data.shape

(9551, 21)

In [4]:
Data.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [5]:
Data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

here, cuisines have 9 null values

### Preprocessing the data: Cleaning the data

In [6]:
#Dropping the null values
Data=Data.dropna()

In [7]:
Data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

Exploring the distinct values of all the columns:

In [8]:
for column in Data.columns:
    distinct_values = Data[column].unique()
    print(f"Distinct values of {column}:")
    print(distinct_values)
    print()

Distinct values of Restaurant ID:
[6317637 6304287 6300002 ... 5915807 5916112 5927402]

Distinct values of Restaurant Name:
['Le Petit Souffle' 'Izakaya Kikufuji' 'Heat - Edsa Shangri-La' ...
 'Huqqa' 'Aï¿½ï¿½ï¿½k Kahve' "Walter's Coffee Roastery"]

Distinct values of Country Code:
[162  30 216  14  37 184 214   1  94 148 215 166 189 191 208]

Distinct values of City:
['Makati City' 'Mandaluyong City' 'Pasay City' 'Pasig City' 'Quezon City'
 'San Juan City' 'Santa Rosa' 'Tagaytay City' 'Taguig City' 'Brasï¿½_lia'
 'Rio de Janeiro' 'Sï¿½ï¿½o Paulo' 'Albany' 'Armidale' 'Athens' 'Augusta'
 'Balingup' 'Beechworth' 'Boise' 'Cedar Rapids/Iowa City' 'Chatham-Kent'
 'Clatskanie' 'Cochrane' 'Columbus' 'Consort' 'Dalton' 'Davenport'
 'Des Moines' 'Dicky Beach' 'Dubuque' 'East Ballina' 'Fernley' 'Flaxton'
 'Forrest' 'Gainesville' 'Hepburn Springs' 'Huskisson' 'Inverloch'
 'Lakes Entrance' 'Lakeview' 'Lincoln' 'Lorn' 'Macedon' 'Macon' 'Mayfield'
 'Mc Millan' 'Middleton Beach' 'Monroe' 'Montville' 'Ojo Caliente'
 'Orlando' 'Palm Cove' 'Paynesville' 'Penola' 'Pensacola' 'Phillip Island'
 'Pocatello' 'Potrero' 'Princeton' 'Rest of Hawaii' 'Savannah' 'Singapore'
 'Sioux City' 'Tampa Bay' 'Tanunda' 'Trentham East' 'Valdosta' 'Vernonia'
 'Victor Harbor' 'Vineland Station' 'Waterloo' 'Weirton' 'Winchester Bay'
 'Yorkton' 'Abu Dhabi' 'Dubai' 'Sharjah' 'Agra' 'Ahmedabad' 'Allahabad'
 'Amritsar' 'Aurangabad' 'Bangalore' 'Bhopal' 'Bhubaneshwar' 'Chandigarh'
 'Chennai' 'Coimbatore' 'Dehradun' 'Faridabad' 'Ghaziabad' 'Goa' 'Gurgaon'
 'Guwahati' 'Hyderabad' 'Indore' 'Jaipur' 'Kanpur' 'Kochi' 'Kolkata'
 'Lucknow' 'Ludhiana' 'Mangalore' 'Mohali' 'Mumbai' 'Mysore' 'Nagpur'
 'Nashik' 'New Delhi' 'Noida' 'Panchkula' 'Patna' 'Puducherry' 'Pune'
 'Ranchi' 'Secunderabad' 'Surat' 'Vadodara' 'Varanasi' 'Vizag' 'Bandung'
 'Bogor' 'Jakarta' 'Tangerang' 'Auckland' 'Wellington City' 'Birmingham'
 'Edinburgh' 'London' 'Manchester' 'Doha' 'Cape Town' 'Inner City'
 'Johannesburg' 'Pretoria' 'Randburg' 'Sandton' 'Colombo' 'Ankara'
 'ï¿½ï¿½stanbul']

Distinct values of Address:
['Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City'
 'Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City'
 'Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City' ...
 'Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, No 56, Beï¿½ï¿½iktaï¿½ï¿½, ï¿½ï¿½stanbul'
 'Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, No 64/B, Beï¿½ï¿½iktaï¿½ï¿½, ï¿½ï¿½stanbul'
 'Cafeaï¿½ï¿½a Mahallesi, BademaltÛ± Sokak, No 21/B, KadÛ±kï¿½_y, ï¿½ï¿½stanbul']

Distinct values of Locality:
['Century City Mall, Poblacion, Makati City'
 'Little Tokyo, Legaspi Village, Makati City'
 'Edsa Shangri-La, Ortigas, Mandaluyong City' ... 'Koï¿½ï¿½uyolu'
 'Kuruï¿½_eï¿½ï¿½me' 'Moda']

Distinct values of Locality Verbose:
['Century City Mall, Poblacion, Makati City, Makati City'
 'Little Tokyo, Legaspi Village, Makati City, Makati City'
 'Edsa Shangri-La, Ortigas, Mandaluyong City, Mandaluyong City' ...
 'Koï¿½ï¿½uyolu, ï¿½ï¿½stanbul' 'Kuruï¿½_eï¿½ï¿½me, ï¿½ï¿½stanbul' 'Moda, ï¿½ï¿½stanbul']

Distinct values of Longitude:
[121.027535   121.014101   121.056831   ...  29.03464001  29.036019
  29.02601603]

Distinct values of Latitude:
[14.565443   14.553708   14.581404   ... 41.05581715 41.057979
 40.98477563]

Distinct values of Cuisines:
['French, Japanese, Desserts' 'Japanese'
 'Seafood, Asian, Filipino, Indian' ... 'Burger, Izgara'
 'World Cuisine, Patisserie, Cafe' 'Italian, World Cuisine']

Distinct values of Average Cost for two:
[  1100   1200   4000   1500   1000   2000   6000    800    900    700
    850    600   3000   1800     55     30     45     60     50     80
     90    200    150    100    230    240    350    140    170    120
    250     40     70    300     85     75    400     65     25     10
      0     20     35      7    270    500    430    315    220     95
    190    260    180    330    280    160    285    130    110   2500
   3600    550   1400    450    950    650   1300   2400   1600   2200
    750   1700   1250   1900   2700   3500   5000   2300   1750   3200
   2100   1850   4500   3300   1350   1650   1950   1050    290   1450
   2800   3650   4800   1550    720   6500   7000   1150   2900   2600
   4700   3700   3800   4100   4300   2650   5100   5500   4400   4200
   8000   2350 150000  70000 250000 200000 165000 800000 500000 300000
 450000 120000 100000 350000    105     15    445    294    360    535
    125    320    570   1540    515    955    390    410   3210    545]

Distinct values of Currency:
['Botswana Pula(P)' 'Brazilian Real(R$)' 'Dollar($)' 'Emirati Diram(AED)'
 'Indian Rupees(Rs.)' 'Indonesian Rupiah(IDR)' 'NewZealand($)'
 'Pounds(ï¿½ï¿½)' 'Qatari Rial(QR)' 'Rand(R)' 'Sri Lankan Rupee(LKR)'
 'Turkish Lira(TL)']

Distinct values of Has Table booking:
['Yes' 'No']

Distinct values of Has Online delivery:
['No' 'Yes']

Distinct values of Is delivering now:
['No' 'Yes']

Distinct values of Switch to order menu:
['No']

Distinct values of Price range:
[3 4 2 1]

Distinct values of Aggregate rating:
[4.8 4.5 4.4 4.9 4.  4.2 4.3 3.6 4.7 3.  3.8 3.7 3.2 3.1 0.  4.1 3.3 4.6
 3.9 3.4 3.5 2.2 2.9 2.4 2.6 2.8 2.1 2.7 2.5 1.8 2.  2.3 1.9]

Distinct values of Rating color:
['Dark Green' 'Green' 'Yellow' 'Orange' 'White' 'Red']

Distinct values of Rating text:
['Excellent' 'Very Good' 'Good' 'Average' 'Not rated' 'Poor']

Distinct values of Votes:
[ 314  591  270 ...  788 1034  901]

### Label Encoding:

For currency column:

In [9]:
Data.replace({'Currency':{'Botswana Pula(P)':0,'Brazilian Real(R$)':1, 'Dollar($)':2, 'Emirati Diram(AED)':3,
 'Indian Rupees(Rs.)':4, 'Indonesian Rupiah(IDR)':5, 'NewZealand($)':6,
 'Pounds':7 ,'Qatari Rial(QR)':8 ,'Rand(R)':9, 'Sri Lankan Rupee(LKR)':10,
 'Turkish Lira(TL)':11}},inplace=True)

In [10]:
Data['Currency'].head(100)

0      0
1      0
2      0
3      0
4      0
      ..
98     2
99     2
100    2
101    2
102    2
Name: Currency, Length: 100, dtype: object

For Has Table booking Column:

In [11]:
Data.replace({'Has Table booking':{'No':0,'Yes':1}},inplace=True)

In [12]:
Data['Has Table booking'].head(5)

0    1
1    1
2    1
3    0
4    1
Name: Has Table booking, dtype: int64

For Has Online delivery Column:

In [13]:
Data.replace({'Has Online delivery':{'No':0,'Yes':1}},inplace=True)

In [14]:
Data['Has Online delivery'].head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Has Online delivery, dtype: int64

For Is delivering now Column:

In [15]:
Data.replace({'Is delivering now':{'No':0,'Yes':1}},inplace=True)

In [16]:
Data['Is delivering now'].head(5)

0    0
1    0
2    0
3    0
4    0
Name: Is delivering now, dtype: int64

For Rating color Column:

In [17]:
Data.replace({'Rating color':{'Dark Green':5, 'Green':4, 'Yellow':3, 'Orange':2, 'White':1, 'Red':0}},inplace=True)

In [18]:
Data['Rating color'].head(5)

0    5
1    5
2    4
3    5
4    5
Name: Rating color, dtype: int64

For Rating text Column:

In [19]:
Data.replace({'Rating text':{'Excellent':5 ,'Very Good':4, 'Good':3 ,'Average':2 ,'Not rated':1 ,'Poor':0}},inplace=True)

In [20]:
Data['Rating text'].head(10)

0    5
1    5
2    4
3    5
4    5
5    4
6    4
7    4
8    5
9    5
Name: Rating text, dtype: int64

For Switch to order menu Column:

In [21]:
Data.replace({'Switch to order menu':{'No':0}},inplace=True)

In [22]:
Data['Switch to order menu'].head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Switch to order menu, dtype: int64

### Splitting the data into Training and Testing Sets:

In [23]:
x=Data.drop(columns=["Aggregate rating","Restaurant Name","City","Address","Locality","Locality Verbose","Cuisines","Switch to order menu"],axis=1)
#Dropped the unwanted colums
y=Data['Aggregate rating']

In [24]:
x.head()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Rating color,Rating text,Votes
0,6317637,162,121.027535,14.565443,1100,0,1,0,0,3,5,5,314
1,6304287,162,121.014101,14.553708,1200,0,1,0,0,3,5,5,591
2,6300002,162,121.056831,14.581404,4000,0,1,0,0,4,4,4,270
3,6318506,162,121.056475,14.585318,1500,0,0,0,0,4,5,5,365
4,6314302,162,121.057508,14.584450,1500,0,1,0,0,4,5,5,229

In [25]:
y.head()

0    4.8
1    4.5
2    4.4
3    4.9
4    4.8
Name: Aggregate rating, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [28]:
print(x.shape,x_train.shape,x_test.shape)

(9542, 13) (7633, 13) (1909, 13)

In [29]:
from sklearn.linear_model import LinearRegression

Model training:

In [30]:
model=LinearRegression()

In [31]:
#fitting the training data into Linear Regression model
model.fit(x_train,y_train)

ValueError: could not convert string to float: 'Pounds(ï¿½ï¿½)'

### Evaluation of Model Performance:

In [ ]:
#Mean Square Error
from sklearn.metrics import mean_squared_error

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)

In [ ]:
mse

In [ ]:
#R Squared Error
from sklearn.metrics import r2_score

In [ ]:
r2 = r2_score(y_test, y_pred)
r2

### Analyzing the most influential features affecting restaurant ratings:

In [ ]:
coefficients = model.coef_
feature_names = x_train.columns

In [ ]:
positive_coefficients = {}
for coef, feature in zip(coefficients, feature_names):
    if coef > 0:
        positive_coefficients[feature] = coef

In [ ]:
positive_coefficients_sorted = dict(sorted(positive_coefficients.items(), key=lambda item: item[1], reverse=True))

In [ ]:
print("Positive Coefficients:")
for feature, coef in positive_coefficients_sorted.items():
    print(f"{feature}: {coef}")

Also we can analyaze most influential features by Data Visualization:

In [ ]:
#Importing Data Visualization Libraries:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
test_data=x_test.join(y_test)

In [ ]:
plt.figure(figsize=(15,8))
sns.heatmap(test_data.corr(),annot=True,cmap='YlGnBu')
plt.show()

Prediction System:

In [ ]:
x_prediction= x_test.iloc[3]
#we can change the index if we want to select a different row

In [ ]:
x_prediction_reshaped = x_prediction.values.reshape(1, -1)
#reshaping beacuse model.predict only takes a 2D array

In [32]:
predicted_rating =model.predict(x_prediction_reshaped)
print("Predicted Rating:", predicted_rating[0])

NameError: name 'x_prediction_reshaped' is not defined